[build]
# Extra linker optimization flags for MSVC to reduce binary size
rustflags = [
    #[target='x86_64-pc-windows-msvc']
    "-C", "link-arg=/OPT:REF",
    "-C", "link-arg=/OPT:ICF",
    #[target='x86_64-apple-darwin']
    "-C", "link-arg=-Wl,--gc-sections",
    "-C", "link-arg=-Wl,--icf=all",
    #[target='x86_64-unknown-linux-gnu']
    "-C", "link-arg=-Wl,--gc-sections",
    "-C", "link-arg=-Wl,--icf=all",
]
